.container {
    padding: 50px;
}

.emoji-container {
    display: flex;
    width: calc(100% + 10px);
    overflow: scroll;
    height: 66%;
    flex-wrap: wrap;
}

.emoji {
    font-size: 70px;
    margin: 0 10px 0 0;
}
